
/*Back ground colors for .bio and .home*/

.home {
	background-image: url ("../img/woodbackground.jpg");
}

.bio {
	background-color: #ADEAEA;

}

.bio h1 {

	text-align: center;
	text-decoration: underline;
	margin-bottom: 100px;
	padding: 10px;
	border: 10px;
	background-color: #BDA0CB;



}
img{
	width: 250px;

}
/* Your Styling */

.container{
	margin: 0 auto;
	width: 50%;

}

h1, h2{
	font-family: 'Old Standard TT', serif;
	text-transform: uppercase;

}

p, li {
	font-family: 'Old Standard TT', serif;
}

.dropcap{
	background: aqua;
	color: white;
	font-size: 5em;
	float: left;
	padding: .25em;
	margin: .25em;
	

}
