
/*Back ground colors for .bio .home and .resume*/

.home {
	background: #ADEAEA;
}

.bio {
	background-color: #ADEAEA;

}

.bio h1 {

	text-align: center;
	text-decoration: underline;
	margin-bottom: 100px;
	padding: 10px;
	border: 10px;
	background-color: #BDA0CB;



}
img{
	width: 250px;

}
/* Your Styling */

body {
	line-height: 30px;
}

.container{
	margin: 0 auto;
	width: 50%;

}

h1, h2{
	font-family: 'Old Standard TT', serif;
	text-transform: uppercase;

}

p, li {
	font-family: 'Old Standard TT', serif;
}

/* Links for home page styling */

a {
	text-decoration: none;	
	
}
